*{
	margin: 0;
	padding: 0;
}
.banner{
	width: 100%;
	height: 5rem;
	text-align: center;
	line-height: 5rem;
	color: #665B88;
	background-size: cover;
}
.notic{
	width: 100%;
	height: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	background-color: #FFF8DD;
	color: #ACACAC;
}
.content{
	width: 90%;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 8rem;

}
.content .list{
	box-sizing: border-box;
	width: 100%;
	background-color: #F7F7F7;
	overflow: hidden;
	margin-top: 2rem;
}
.content .list .title{
	width: 9rem;
	height: 1.5rem;
	background-color: #665B88;
	border-radius: 4rem;
	color: #fff;
	text-align: center;
	line-height: 1.5rem;
	font-size: 0.8rem;
	letter-spacing: 0.08rem;
	margin: 0.5rem 0 0.5rem 0.3rem;
}
.con{
	display: flex;
	margin-bottom: 0.5rem;
}
.con .left{
	margin-top: 1rem;
}
.con .left img{
	width: 6rem;
	margin: 0.2rem 0.3rem 0.5rem 0.6rem;
}
.con .right{
	color:#787779;
	margin-left: 1rem;
}
.con .right .sj{
	color:#665B88;
}
.con .right .dz,
.con .right .bh,
.con .right .jq{
	font-size: 0.08rem;	 
}
.con .right .dz,
.con .right .bh{
	margin-top: 0.5rem;
}
.con .right .jq{
	float: right;
}
.con .right .jq .qian{
	color: #665B88;
	font-size: 1rem;
	margin: 0.5rem 0.3rem 0.5rem 0;

}
.con .right .dz span{
	display: inline-block;
	vertical-align: top;
}
.con .right .dz .s2{
	width: 10rem;
}
.deites{
	display: none;
	width: 100%;
	height: 6rem;
	border-bottom: 0.2rem solid #665B88;
	background-color: #F7F7F7;
	color: #797979;
}
.deites .typ{
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.9rem;
	padding-left: 1rem;
}
.deites .typ1{
	width: 22rem;
	height: 3rem;
	line-height: 1.5rem;
	font-size: 0.9rem;
	padding-left: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}





















