<!DOCTYPE html>
<html>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footnav.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/list.js') }}"></script>
<head>
	<title>列表</title>
</head>
<body>
	<div class="banner">
		我的订单
	</div>
	<div class="notic">
		如需变更或退订请电系店员
	</div>

	<div class="content">
		<!-- <div class="list">
			<div class="title">德曼秀－脸部护理</div>
			<div class="con">
				<div class="left">
					<img src="img/list1.png">
				</div>
				<div class="right">
					<div class="sj">预约时间：<span>2019-02-25 9:30</span></div>
					<div class="dz">
						<span class="s1"> 店铺地址：</span>
						<span class="s2"> 陕西北路278号金鹰国际商场301室</span></div>
					<div class="bh">订单编号：<span>d345f4</span> </div>
					<div class="jq"> <span>价钱:</span> <span class="qian">¥666.00</span></div>

				</div>
			</div>
		</div> -->
		<!-- <div class="list">
			<div class="title">德曼秀－脸部护理</div>
			<div class="con">
				<div class="left">
					<img src="img/list1.png">
				</div>
				<div class="right">
					<div class="sj">预约时间：<span>2019-02-25 9:30</span></div>
					<div class="dz">
						<span class="s1"> 店铺地址：</span>
						<span class="s2"> 陕西北路278号金鹰国际商场301室</span></div>
					<div class="bh">订单编号：<span>d345f4</span> </div>
					<div class="jq"> <span>价钱:</span> <span class="qian">¥666.00</span></div>

				</div>
			</div>
		</div> -->
<!-- 		<div class="list">
			<div class="title">德曼秀－脸部护理</div>
			<div class="con">
				<div class="left">
					<img src="img/list1.png">
				</div>
				<div class="right">
					<div class="sj">预约时间：<span>2019-02-25 9:30</span></div>
					<div class="dz">
						<span class="s1"> 店铺地址：</span>
						<span class="s2"> 陕西北路278号金鹰国际商场301室</span></div>
					<div class="bh">订单编号：<span>d345f4</span> </div>
					<div class="jq"> <span>价钱:</span> <span class="qian">¥666.00</span></div>

				</div>
			</div>
		</div> -->
	</div>
	<div class="footnav">

		<a href="/index" class="home" style="text-decoration: none;">首页</a>
		<a href="/list" class="my"  id="on" style="text-decoration: none;">订单</a>
	</div>
	
</body>
</html>





















